@font-face {
  font-family: "Montserrat";
  src: url("../landingPage-groupe10/font/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  display: flex;
  align-items: flex-end;
  height: 100vh;
}
.footer {
  display: flex;
  width: 320px;
  height: 103px;
  background: #6ccda9;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.titleInformation,
.titleContact {
  font-size: 10px;
  font-family: "Montserrat";
  font-weight: bold;
}

.linksContact,
.linksInformation {
  font-family: "Montserrat";
  font-size: 7px;
  font-weight: normal;
}

@media (min-width: 321px) {
  .footer {
    width: 100vw;
    height: 200px;
  }
  .linksContact,
  .linksInformation {
    font-size: 12px;
  }

  .titleInformation,
  .titleContact {
    font-size: 16px;
  }
}
