@import "variables.scss"; //COLOR & width/height BUTTON
@import "mixins.scss"; //OTHER

//TEXT
@font-face{
    font-family: "Montserrat-Bold";
    src:url("../font/Montserrat/Montserrat-Bold.ttf") format("truetype");
}
@font-face{
    font-family: "Montserrat-SemiBold";
    src:url("../font/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}
@font-face{
    font-family: "Montserrat-Regular";
    src:url("../font/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

//CODE
body{
    background-color: red;
    @media (min-width: 500px){
        background-color: royalblue;
    }
}
h1{
    color: $primaryColor;
    width: 20px;
    @include title;
}
.first_Btn{
    @include primaryButton(25px);
}
.second_Btn {
    @include secondButton(25px);
}